---
import Header from '@components/Header.astro';
import { getCollection } from 'astro:content';
import type { GetStaticPathsOptions } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';
import arrowLeft from '@assets/icons/arrow-left.svg?raw';
import chevronLeft from '@assets/icons/chevron-left.svg?raw';
import chevronRight from '@assets/icons/chevron-right.svg?raw';
import arrowRight from '@assets/icons/arrow-right.svg?raw';
import ListItem from '@components/ListItem.astro';
import Sponsors from '@components/Sponsors.astro';
import ContentLayout from '@components/ContentLayout.astro';

const pageTitle = '';
const heading = '';

export async function getStaticPaths(options: GetStaticPathsOptions) {
  const entries = await getCollection('news', ({ data }) => {
    return data.draft !== true && data.includeInNews;
  });

  entries.sort((a, b) => (b.data.pubDate > a.data.pubDate ? 1 : -1));

  return options.paginate(entries, { pageSize: 8 });
}

const { page } = Astro.props;
const news = page.data;
const { first, prev, next, last } = page.url;
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={heading} />
  </Header>

  <MainContent>
    <ContentLayout>
      <div slot="main">
        <div class="grow">
          {news.map((item) => <ListItem item={item} />)}

          <nav
            class="my-8 flex gap-1 text-xl [&>*]:inline-block [&>*]:p-2 [&>*]:leading-tight [&>a:not[href]>svg]:fill-gray-100"
          >
            <a href={first}><Fragment set:html={arrowLeft} /></a>
            <a href={prev}><Fragment set:html={chevronLeft} /></a>
            <span class="text-[1rem]">{page.currentPage} / {page.lastPage}</span
            >
            <a href={next}><Fragment set:html={chevronRight} /></a>
            <a href={last}><Fragment set:html={arrowRight} /></a>
          </nav>
        </div>
      </div>
      <div slot="sidebar">
        <Sponsors />
      </div>
    </ContentLayout>
  </MainContent>
</BaseLayout>
