---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { getCollection, getEntries, getEntry, render } from 'astro:content';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';
import magnifyingGlassPlusIcon from '@assets/icons/magnifying-glass-plus.svg?raw';
import closeIcon from '@assets/icons/close.svg?raw';
import { EventRelatedPostTypes } from 'src/content.config';

const { event: entryId } = Astro.params;

export async function getStaticPaths() {
  const events = await getCollection('events');

  return events.map((entry) => ({
    params: { event: entry.id },
    props: { event: entry },
  }));
}

const entry = await getEntry('events', entryId);

if (!entry) {
  return Astro.redirect('/404');
}

const pageTitle = entry.data.title;
const heading = pageTitle;

const breadcrumbs = [
  {
    url: '/rendezvenyek',
    title: 'Rendezvények',
  },
];

const { Content } = await render(entry);

// const competitionAnnouncement = entry.data.eventMeta?.find(
//   ({ key }) => key === 'Versenykiírás'
// )?.value;

const relatedPosts = entry.data.relatedPosts
  ? await getEntries(entry.data.relatedPosts)
  : null;

// console.log(relatedPosts);

const getItemByType = (type: string) =>
  relatedPosts?.find((x) => x.data?.type === type);

const relatedItems = {
  announcement: getItemByType('versenykiiras'),
  results: getItemByType('eredmenyek'),
  galleries: getItemByType('galeria'),
  elevationMap: getItemByType('szintrajz'),
};

const { announcement, elevationMap, results, galleries } = relatedItems;

const postTypeNames = EventRelatedPostTypes as {
  [key: string]: string;
};

const tabItems = Object.entries(relatedItems)
  .map(([_, value]) => {
    const type = value?.data?.type;

    if (!type) {
      return null;
    }

    return {
      title: postTypeNames[type],
      id: type,
    };
  })
  .filter((x) => x?.id);

// console.log(tabItems);
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" {...{ heading, breadcrumbs }}>
      <div slot="header-content-subtitle" class="mt-1">
        <p>{entry.data.excerpt}</p>
      </div>

      <div slot="header-content-bottom-tabs">
        <nav
          class="inline-flex gap-1px text-secondary-700 border-t-10 border-b-4 border-white rounded-t-xs"
        >
          {
            tabItems.map(({ title, id }) => (
              <a href={`#${id}`} class="bg-white p-2 px-6 leading-tight">
                {title}
              </a>
            ))
          }
        </nav>
      </div>
    </HeaderContent>
  </Header>

  <MainContent>
    <!-- <div class="-mt-14 overflow-hidden">
      <nav class="flex gap-1px">
        {
          tabItems.map(({ title, id }) => (
            <a
              href={`#${id}`}
              class="bg-white p-4 px-6 rounded-md leading-tight"
            >
              {title}
            </a>
          ))
        }
      </nav>
    </div> -->

    <div class="prose-default">
      <Content />

      {
        announcement && (
          <div id={announcement.data.type}>
            <div class="flex gap-8 items-center justify-between mb-6">
              <h2 class="!m-0">{postTypeNames[announcement.data.type]}</h2>
              {announcement.data.content.downloadUrl && (
                <a
                  href={announcement.data.content.downloadUrl}
                  class="button"
                  download
                >
                  Letöltés
                </a>
              )}
            </div>

            <div class="fullview-toggle-wrapper mb-4">
              <input
                type="checkbox"
                id="fullview-toggle"
                class="fullview-toggle hidden"
                autocapitalize="nope"
              />
              <label for="fullview-toggle" class="fullview-toggle-label">
                <span>
                  <Fragment set:html={magnifyingGlassPlusIcon} />
                </span>
                <span>
                  <Fragment set:html={closeIcon} />
                </span>
              </label>
              <iframe src={announcement.data.content.embedUrl} />
            </div>
          </div>
        )
      }

      {
        elevationMap && (
          <div id={elevationMap.data.type}>
            <h2>{postTypeNames[elevationMap.data.type]}</h2>

            <img src={elevationMap.data.content.image} alt="" />
          </div>
        )
      }

      {
        results && (
          <div id={results.data.type}>
            <h2>{postTypeNames[results.data.type]}</h2>

            <a href={results.data.content.url} target="blank" class="button">
              {results.data.title}
            </a>
          </div>
        )
      }

      {
        galleries?.data?.content?.gallery && (
          <div id={galleries.data.type}>
            <h2>{postTypeNames[galleries.data.type]}</h2>

            {galleries.data.content.gallery.map((x) => (
              <a href={x.url} target="blank" class="button">
                {x.title}
              </a>
            ))}
          </div>
        )
      }

      <!-- {
      entry.data.eventMeta?.length && (
        <div>
          <h2>Event Meta</h2>
          <ul>
            {entry.data.eventMeta.map(({ key, value }) => (
              <li>
                <strong>{key}:</strong> {value}
              </li>
            ))}
          </ul>
        </div>
      )
    } -->

      <!-- {
      entry.data.links?.length && (
        <div>
          <h2>Event Meta</h2>
          <ul>
            {entry.data.links.map(({ name, url }) => (
              <li>
                <strong>{name}:</strong> {url}
              </li>
            ))}
          </ul>
        </div>
      )
    } -->
    </div>
  </MainContent>
</BaseLayout>
