---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { getCollection, getEntry, render } from 'astro:content';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';

const { event: entryId } = Astro.params;

export async function getStaticPaths() {
  const events = await getCollection('events');

  return events.map((entry) => ({
    params: { event: entry.id },
    props: { event: entry },
  }));
}

const entry = await getEntry('events', entryId);

if (!entry) {
  return Astro.redirect('/404');
}

const pageTitle = entry.data.title;

const { Content } = await render(entry);
const competitionAnnouncement = entry.data.eventMeta?.find(
  ({ key }) => key === 'Versenykiírás'
)?.value;
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={entry.data.title} />
  </Header>

  <MainContent>
    <Content />

    {
      competitionAnnouncement && (
        <div>
          <h2>Versenykiírás</h2>

          <iframe
            class="w-[870px] border-none bg-white my-8 aspect-[1/1.414]"
            src={competitionAnnouncement as string}
          >
            Loading…
          </iframe>
        </div>
      )
    }

    {
      entry.data.eventMeta?.length && (
        <div>
          <h2>Event Meta</h2>
          <ul>
            {entry.data.eventMeta.map(({ key, value }) => (
              <li>
                <strong>{key}:</strong> {value}
              </li>
            ))}
          </ul>
        </div>
      )
    }

    {
      entry.data.links?.length && (
        <div>
          <h2>Event Meta</h2>
          <ul>
            {entry.data.links.map(({ name, url }) => (
              <li>
                <strong>{name}:</strong> {url}
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </MainContent>
</BaseLayout>
