---
import { siteName, siteSlogan } from 'src/constants';

const pages = [
  {
    url: '/',
    title: 'Hírek',
  },
  {
    url: '/rendezvenyek',
    title: 'Rendezvények',
  },
  {
    url: '/sifutas',
    title: 'Sífutás',
  },
  {
    url: '/kerekpartura',
    title: 'Kerékpártúra',
  },
  {
    url: '/kapcsolat',
    title: 'Kapcsolat',
  },
];

const pathname = new URL(Astro.request.url).pathname;

const isActive = (url: string) => {
  if (url === '/' && pathname === '/') {
    return true;
  }

  return url !== '/' ? pathname.startsWith(url) : false;
};
---

<header>
  <div class="bg-secondary-600">
    <div class="container mx-auto flex justify-between select-none">
      <a href="/" class="flex flex-col text-white py-3" aria-title={siteName}>
        <span class="font-display block text-3xl leading-none">{siteName}</span>
        <span
          class="block text-[0.7rem] relative top-1 font-bold tracking-[0.1rem] uppercase"
          >{siteSlogan}</span
        >
      </a>
      <nav class="flex">
        {
          pages.map(({ url, title }) => (
            <a
              href={url}
              class={`px-4 inline-flex items-center lg:min-w-24 justify-around border-y-4 border-transparent ${isActive(url) ? 'border-b-primary-300 text-primary-300' : ' text-white lg:hover:text-primary-300'}`}
            >
              {title}
            </a>
          ))
        }
      </nav>
    </div>
  </div>

  <slot name="header-content" />
</header>
