---
import { facebookUrl, siteName, siteSlogan } from 'src/constants';
import facebook from '@assets/icons/facebook.svg?raw';

const pages = [
  {
    url: '/',
    title: 'Hírek',
  },
  {
    url: '/rendezvenyek',
    title: 'Rendezvények',
  },
  {
    url: '/sifutas-bukkszentkereszt',
    title: 'Sífutás',
  },
  {
    url: '/kerekparturak-a-bukkben',
    title: 'Kerékpártúra',
  },
  {
    url: '/kapcsolat',
    title: 'Kapcsolat',
  },
];

const pathname = new URL(Astro.request.url).pathname;

const isActive = (url: string) => {
  if (url === '/' && pathname === '/') {
    return true;
  }

  return url !== '/' ? pathname.startsWith(url) : false;
};
---

<div
  class="bg-secondary-600 shadow-secondary-900 shadow-[inset_0_-4px_0] lg:sticky top-0 z-50"
>
  <div class="container mx-auto flex justify-between">
    <a
      href="/"
      class="flex gap-2 !text-white py-3 relative lg:pl-20"
      aria-title={siteName}
    >
      <img
        src="/images/kis-galya-beka.svg"
        alt=""
        class="hidden lg:inline-block absolute -left-3 top-5px w-22 h-auto"
      />
      <span class="flex flex-col">
        <span class="font-display block text-[28px] leading-none select-none"
          >{siteName}</span
        >
        <span class="block text-[0.78rem] relative top-3px tracking-widest"
          >{siteSlogan}</span
        >
      </span>
    </a>
    <nav class="flex gap-1">
      {
        pages.map(({ url, title }) => (
          <a
            href={url}
            class={`px-4 inline-flex items-center lg:min-w-22 justify-around border-y-4 border-transparent ${isActive(url) ? 'border-b-primary-300 !text-primary-300' : ' text-white lg:hover:!text-primary-300'}`}
          >
            {title}
          </a>
        ))
      }

      <a
        href={facebookUrl}
        class="inline-flex items-center [&>svg]:size-9 [&>svg]:fill-white [&>svg]:lg:hover:fill-primary-300 m-4"
        target="_blank"
      >
        <Fragment set:html={facebook} />
      </a>
    </nav>
  </div>
</div>

<header>
  <slot name="header-content" />
</header>
