---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';
import { Image } from 'astro:assets';
import sifutasImage from '@assets/images/sifutas/sifutas.jpg';
import aSifutasrolImage from '@assets/images/sifutas/a-sifutasrol.jpg';
import sifutasProspektusImage from '@assets/images/sifutas/sifutas-prospektus.jpg';
import ContentLayout from '@components/ContentLayout.astro';

const pageTitle = 'Sífutás';
const heading = 'Sífutás? Bükkszentkereszt!';
const subTitle =
  'Sífutási lehetőség Bükkszentkereszten, a Kis-Galya KSE szervezésében';
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={heading}>
      <p slot="header-content-subtitle">{subTitle}</p>
    </HeaderContent>
  </Header>

  <MainContent>
    <img
      src="/images/Snow.png"
      alt=""
      class="absolute z-10 top-[50px] right-[28%] -scale-x-100 w-[340px] h-auto"
    />
    <ContentLayout>
      <div class="prose-default" slot="main">
        <p>
          Egyesületünk a téli szezonokban sífutási lehetőséget biztosít az
          érdeklődő fiatalok, iskolai csoportok részére Bükkszentkereszten.
        </p>
        <p>Oktatást és felszerelést igény szerint biztosítunk.</p>

        <Image
          src={sifutasImage}
          alt="Kis-Galya KSE sífutás"
          class="lg:w-full"
        />
        <p>
          A programról egyeztetni Sikter Zsuzsánál lehet, a <strong
            >30 206-3602</strong
          >-es telefonszámon.
        </p>
      </div>

      <aside
        slot="sidebar"
        class="bg-gray-100 p-6 lg:px-8 rounded-lg prose-default lg:text-center"
      >
        <h3 class="!mt-0">Tekintse meg prospektusainkat!</h3>

        <div class="flex lg:flex-col gap-8 !mt-4">
          <a
            href="/docs/sifutas/kisgalya-sifutas-prospektus.pdf"
            target="_blank"
          >
            <Image
              src={sifutasProspektusImage}
              alt="Sífutás prospektus"
              class="!m-0 lg:w-full"
            />

            <p class="!mb-0">Sífutás? Bükkszentkereszt!</p>
          </a>
          <a href="/docs/sifutas/a-sifutasrol.pdf" target="_blank">
            <Image
              src={aSifutasrolImage}
              alt="A sífutásról"
              class="!m-0 lg:w-full"
            />
            <p class="!mb-0">A sífutásról</p>
          </a>
        </div>
      </aside>
    </ContentLayout>
  </MainContent>
</BaseLayout>
